.content{
  background-color: white !important;
  min-height: 100vh;
}
.title{
  width: 711rpx;
  padding-top: 12rpx;
  margin-left: 21rpx;
  display: flex;
  justify-content: space-between;
  font-size:28rpx;
  font-family:Source Han Sans CN;
  font-weight:bold;
}
.sub-title{
  width: 711rpx;
  margin-top: 38rpx;
  margin-left: 21rpx;
  font-size:28rpx;
  font-family:Source Han Sans CN;
  font-weight:bold;
  .text1{
    margin-right: 41rpx;
  }
}
.font-gray{
  color: #B5B6B6;
}

ff-canvas {
  width: 100%;
  height: 450rpx;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
} 